{% form_theme form 'BlackAdminBundle:AdminForm:fields.html.twig' %}
{% set title = title is defined ? title : "Create a new thing" %}

<fieldset class="grid9">
    <div class="widget">
        <div class="whead"><h6>{% trans from "view" %}black.adminPage.fieldset.general.header{% endtrans %}</h6>
            <div class="clear"></div>
        </div>
        {{ form_row(form.gender) }}
        {{ form_row(form.honorificPrefix) }}
        {{ form_row(form.givenName) }}
        {{ form_row(form.additionalName) }}
        {{ form_row(form.familyName) }}
        {{ form_row(form.description) }}
        {{ form_row(form.birthdate) }}
        {{ form_row(form.image) }}
        {{ form_row(form.email) }}
        {{ form_row(form.url) }}
        {{ form_row(form.contactPoints) }}
        {{ form_row(form.address) }}
        {{ form_row(form.jobTitle) }}
        {{ form_row(form.worksFor) }}
        {{ form_row(form.spouse) }}
        {{ form_row(form.parents) }}
        {{ form_row(form.children) }}
        {{ form_row(form.colleagues) }}
        {{ form_row(form.siblings) }}
        {{ form_row(form.seeks) }}
    </div>

</fieldset>

<fieldset class="grid3">
    <div class="widget fixed">
        <div class="whead"><h6>{% trans from "view" %}black.adminForm.fieldset.actions.header{% endtrans %}</h6>
            <div class="clear"></div>
        </div>
        <div class="body">
            {{ form_rest(form) }}
        </div>
        <div class="clear"></div>
    </div>
</fieldset>

{{ elfinder_tinymce_init4() }}
{{ tinymce_init() }}

{% include 'BlackPersonBundle:AdminPerson:js.html.twig' %}
