{% extends 'BlackPersonBundle:AdminPerson:base.html.twig' %}
{% block content_top %}
    {% include 'BlackAdminBundle:Admin:contentTop.html.twig' with {'title': "person.admin.contentTop.person.show.text"} %}
{% endblock %}
{% block page_content %}
<div class="fluid" itemscope itemtype="http://schema.org/Person">

    <div class="widget grid3">
        <div class="whead">
            <h6>{% trans from "views" %}person.admin.show.informations.text{% endtrans %}</h6>
            <div class="titleOpt">
                <a href="#" data-toggle="dropdown"><span class="icos-cog3"></span><span class="clear"></span></a>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a href="{{ path(admin_edit, { 'id': document.id }) }}" class="" title="{% trans from "views" %}person.admin.show.edit.title{% endtrans %}" >
                            <span class="icos-pencil"></span>{% trans from "views" %}person.admin.show.edit.text{% endtrans %}
                        </a>
                    </li>    
                </ul>
            </div>
            <div class="clear"></div>
        </div>

        <div class="body">
            <p class="textC">
                {% if document.path %}
                <img src="/uploads/profile/{{ document.path }}" width="177" />
                {% else %}
                <img src="/bundles/blackadmin/images/live/default-m.jpeg" />
                {% endif %}
            </p>

            <p>
                {% if document.honorificPrefix %}
                    <span itemprop="honnorificPrefix">{{ document.honorificPrefix }}</span>
                {% endif %}

                <span itemprop="name">{{ document.givenName }} {% if document.additionalName %}"{{ document.additionalName }}"{% endif %} {{ document.familyName }}</span>

                {% if document.honorificSuffix %}
                    <span itemprop="honnorificSuffix">{{ document.honorificSuffix }}</span>
                {% endif %}

                {% if 'M' == document.gender %}
                    &nbsp;- <span class="fs1 iconb iconBlue" data-icon="&#xe1bb;"></span>
                {% elseif 'F' == document.gender %}
                    &nbsp;- <span class="fs1 iconb iconPink" data-icon="&#xe1bb;"></span>
                {% endif %}
            </p>

            <p>
                <span class="fs1 iconb" data-icon="&#xe01e;"> <a href="mailto:{{ document.email}}" itemprop="email">{{ document.email }}</a><br>

            {% if document.birthdate %}
                <span class="fs1 iconb" data-icon="&#xe051;"> {{ document.birthDate|date('Y-m-d') }}</span><br>
            {% endif %}

            {% if document.url %}
                <span class="fs1 iconb" data-icon=""></span> <span itemprop="webSite"><a href="{{ document.url }}">{{ document.url }}</a></span><br>
            {% endif %}
            </p>
            
            {% if document.jobTitle and document.worksFor %}
                <p><span itemprop="jobTitle">{{ document.jobTitle }}</span> {% trans from "views" %}person.admin.show.at.text{% endtrans %} <span itemprop="worksFor">{{ document.worksFor }}</span></p>
            {% elseif document.jobTitle is defined %}
                <p><span itemprop="jobTitle">{{ document.jobTitle }}</span></p>
            {% elseif document.worksFor is defined %}
                <p>{% trans from "views" %}person.admin.show.at.text{% endtrans %} <span itemprop="worksFor">{{ document.worksFor }}</span></p>
            {% endif %}

            {% if document.firstMet is defined %}
                <p>{% trans with {'%place%': document.firstMet, '%date%': document.firstMetDate|format_date } from "views" %}person.admin.show.firstMet.text{% endtrans %}</p>
            {% endif %}
        </div>

    </div>

    <div class="fluid grid9">
        <div class="widget">
            <div class="whead"><h6>{% trans from "views" %}person.admin.show.description.text{% endtrans %}</h6><div class="clear"></div></div>
            <div class="body" itemprop="description">
                {% if document.description %}
                    {{ document.description }}
                {% else %}
                    <p class="textC">{% trans from "views" %}person.admin.show.description.empty{% endtrans %}</p>
                {% endif %}
            </div>
        </div>

        <div class="widget">
            <div class="whead"><h6>{% trans from "views" %}person.admin.show.address.text{% endtrans %}</h6><div class="clear"></div></div>
            <div class="body">
                {% for add in document.address %}

                    <address class="grid4 textC" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                        {% if 'P' == add.contactType %}
                            <span class="fs1 iconb" data-icon="&#xe12a;"></span>
                        {% elseif 'W' == add.contactType %}
                            <span class="fs1 iconb" data-icon="&#xe060;"></span>
                        {% endif %}

                        <span itemprop="name">{{ add.name }}</span><br>

                        {% if add.description %}
                            <span itemprop="description">{{ add.description }}</span><br>
                        {% endif %}

                        <span itemprop="streetAddress">{{ add.streetAddress }}</span><br>

                        {% if add.complementaryStreetAddress %}
                            {{ add.complementaryStreetAddress }}<br>
                        {% endif %}

                        {% if add.postOfficeBoxNumber %}
                            <span itemprop="postOfficeBoxNumber">{{ add.postOfficeBoxNumber }}</span> <span itemprop="addressLocality">{{ add.addressLocality }}</span><br />
                        {% else %}
                            <span itemprop="postalCode">{{ add.postalCode }}</span>  <span itemprop="addressLocality">{{ add.addressLocality }}</span><br>
                        {% endif %}

                        {% if add.addressCountry or add.addressRegion %}
                            <span itemprop="addressRegion">{{ add.addressRegion }}</span> <span itemprop="addressCountry">{{ add.addressCountryLocale(locale) }}</span><br>
                        {% endif %}

                    </address>
                {%  else %}
                    <p class="textC">{% trans from "views" %}person.admin.show.address.empty{% endtrans %}</p>
                {% endfor %}
                <div class="clear"></div>
            </div>
        </div>

        <div class="widget">
            <div class="whead"><h6>{% trans from "views" %}person.admin.show.contact.text{% endtrans %}</h6><div class="clear"></div></div>
            <div class="body" itemprop="contactPoints">
                {% for contactPoint in document.contactPoints %}

                    {% if 'H' == contactPoint.contactType %}
                       {% set contactClass = 'addPerso' %}
                    {% elseif 'W' == contactPoint.contactType %}
                        {% set contactClass = 'addWork' %}
                    {% else %}
                        {% set contactClass = 'addPerso' %}
                    {% endif %}

                    <address class="grid4 {{ contactClass }}" itemscope itemtype="http://schema.org/contactPoint">
                        {% if contactPoint.mobile %}
                            <span class="fs1 iconb" data-icon="""></span> <span itemprop="mobile">{{ contactPoint.mobile }}</span><br>
                        {% endif %}

                        {% if contactPoint.telephone %}
                            <span class="fs1 iconb" data-icon=""></span> <span itemprop="telephone">{{ contactPoint.telephone }}</span><br>
                        {% endif %}

                        {% if contactPoint.faxNumber %}
                            <span class="fs1 iconb" data-icon=""></span> <span itemprop="faxNumber">{{ contactPoint.faxNumber }}</span><br>
                        {% endif %}
                    </address>

                {% else %}
                    <p class="textC">{% trans from "views" %}person.admin.show.contact.empty{% endtrans %}</p>
                {% endfor %}
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}